Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
flt=5000
n=29
profit=(200*n)-flt
print(profit)

800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num= int(input())
#complete this area
if(num%2==0 and num%3==0):
  print("Multiple of 6!")
elif(num%2==0):
  print("Multiple of 2")
elif(num%3==0):
  print("Multiple of 3")
else:
  print("None of the Above!")

99
Multiple of 3

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
s='AEIOU'
word='ANTIESTABLISHMENTARIANISTICALLY'
count_v=0
for i in word:
  if i in s:
    count_v+=1
print(count_v)

12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 
lf=['apple','fig','mango','banana','orange','grapes']
#iterate over the list and find the name of the fruit which has the smallest word length
l2=[]
for i in lf:
  l2.append(i)
l2=sorted(l2,key=len)
print(l2[0])
# l2=sorted(lf,key=len)
# print(l2[0])

# append a vegetable to your existing list
l2.append('brinjal')
# find the size of your list
print("Length of the list is:",len(l2))
# add enough fruits such that your list size if greater that 4
lf.append('custard apple')
lf.append('pineapple')
print(lf)
# delete the 2nd fruit(1st index) from your list:
del l2[1]
# add your name in the 4th position of the list (3rd index)
l2[3]='Atchuta Ram'
# also use l2.insert(3,<name>)
#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation
print(l2)

fig
Length of the list is: 7
['apple', 'fig', 'mango', 'banana', 'orange', 'grapes', 'custard apple', 'pineapple']
['fig', 'mango', 'banana', 'Atchuta Ram', 'grapes', 'brinjal']

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 
a=(1,22,3,88,4)
#print the type of each value in the tuple
for i in a:
  print(type(i))
#Q) try to change the seconf value in your tuple to "Caterpillar"
#ANS a[2]='Caterpillar' # gives an error as tuples are immutable
#However  converting tuple to a list, then a list to tuple
al=list(a)
al[2]='Caterpillar'
a=tuple(al)
print("Now the tuple is :",a)
# print the last element of the tuple without using the length of the tuple
print(a[-1])
# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...
print(a[-1:])
print(a[:3])
#sort vs sorted function: find the difference in the form of a program:
# Sort works only on lists print(a.sort())
#print(sorted(a))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
Now the tuple is : (1, 22, 'Caterpillar', 88, 4)
4
(4,)
(1, 22, 'Caterpillar')

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:
fhl=["ootd", "lol", "ffs", "asap"]
fh_string= " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
word_list=fh_string.split()
fhl_unique=set(word_list)
#print(fhl_unique)
for i in fhl_unique:
  if i not in fhl:
    fhl.append(i)
print(fhl)

['ootd', 'lol', 'ffs', 'asap', 'sweet16', 'anime', 'fun', 'macha', 'candid', 'happyhours', 'bob', 'rofl']

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in my_list:
      if i not in freq:
        freq[i]=0
      freq[i]+=1
    return freq
    
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    print((CountFrequency(my_list)))

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !